@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: roboto;
  /* background-color: #fb7b5b; */
  /* border: 3px;
  border-color: rgb(255, 0, 43);
  border-style: dotted; */
}

nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::placeholder {
  color: rgb(237, 233, 233);
  opacity: 1;
}

::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #529ead;
}
