.navigation_bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fb7b5b;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation_bottom-link {
  text-decoration: none;
  color: rgb(63, 63, 234);
  font-weight: bold;
}

.icons {
  width: 60%;
}

.deleteBTN {
  border: none;
  background-color: #fb7b5b;
}
